<main class="container">
    <section class="row">
        <section class="col">
            <h1>FRAMEWORK ANGULAR</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis dolor quos aliquid alias. Delectus, atque nulla alias unde, quam, hic praesentium ad voluptatum velit nobis excepturi. Assumenda deserunt perspiciatis illo!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus dolores fugit sit odio veniam inventore reprehenderit ipsum, molestias, voluptas delectus neque accusantium rerum? Dolor ut fuga debitis saepe numquam autem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At cum optio nisi. Libero molestiae laboriosam, nemo similique soluta facilis ratione esse eum iure odio, quod quasi aperiam minima voluptates! Sunt?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas distinctio omnis, consequuntur architecto maxime minus, eum iure delectus quisquam tempora veniam incidunt, quam laudantium totam veritatis velit. Assumenda, nihil consectetur.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim fuga molestias aliquam, culpa, molestiae a iste commodi modi ad dolore vero explicabo. Possimus nostrum officia nisi odit est? Enim, illo.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore suscipit, delectus consectetur ut quis nesciunt pariatur quidem, repellendus eaque soluta eveniet molestias nihil, facere id cumque error minima. Vel, maiores?
            </p>
        </section>
        <section class="col-2">
            <img src="../../assets/imagen.png">
        </section>
    </section>
</main>

